div {
background-color: #e0e0e0;
color: #34495e;
width:200px;
padding: 5px;
border: 1px solid #000000;
margin: 5px;
}

ol li {
  background-color: #74afad;
  padding: 5px;
  margin: 3px;
  width: 300px;
}

ul li {
  background-color: #d9853b;
  padding: 5px;
  margin: 1px;
  width: 210px;
  border-radius: 5px; /* avrunder kanter */
  list-style-type: none; /* tar bort kulepunkter/nummering */
}

.nystil li {
  background-color: #558c89;
  Padding: 10px;
  margin:4px;
  width: 160px;
}
  

